/* Margins & padding */
$pad-xxs: 6px;
$pad-xs: 12px;
$pad-s: 24px;
$pad-sm: $pad-xs + $pad-s;
$pad-m: 48px;
$pad-l: 72px;
$pad-xl: 96px;

/* Breakpoints */
$bp-xs: 320px;
$bp-s: 480px;
$bp-m: 720px;
$bp-l: 960px;
$bp-xl: 1024px;
