{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "Firefox ESR",
                        "not dead"
                    ]
                },
                "debug": true
            }
        ]
    ],

    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ],

    "env": {
        "plugins": ["external-helpers"]
    }
}
