{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "env": {
    "browser": {
      "requirejs": {
        "plugins": [
          "external-helpers",
          "add-module-exports",
          "transform-es2015-modules-amd"
        ]
      },
      "browserify": {
        "plugins": [
          "external-helpers"
        ]
      }
    }
  }
}
