{% extends '../layout/default.njk' %}
{% includeData './home.json' %}
{% includeData '../components/nav/nav.json' %}

{% block body %}
    <div class="wrapper">
        {% include '../components/nav/nav.njk' %}
        <main>
            <h1>{{ home.title }}</h1>
            <p>{{ home.body }}</p>
        </main>
    </div>
{% endblock %}
