{% extends '../layout/default.njk' %}

{% block body %}
<div class="wrapper">
  {% component 'nav' %}
  <main>
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>

    <h2>List component with default data</h2>
    {% component 'list' %}

    <h2>List component with alternate data source path</h2>
    <p>Some types of waffles:</p>
    {% component 'list', 'list-waffles.json' %}
    <img src="/mock/example-waffles.jpg" width="240" alt="Belgian waffle with chocolate sauce">

    <h2>List component with data provided by template data</h2>
    <p>Some types of pies:</p>
    {% component 'list', list %}

    <h2>List component with inline data</h2>
    <p>Some types of cookies:</p>
    {% component 'list', { items: ['Chocolate chip cookie', 'Animal cracker', 'Brownie'] } %}

    <h2>List component with alternate data source path and inline data override</h2>
    <p>Some types of waffles:</p>
    {% component 'list', 'list-waffles.json', { items: ["There's nothing here anymore, I've eaten all your waffles!"] } %}

    <h2>Carousel component with default data</h2>
    {% component 'carousel' %}
  </main>
</div>
{% endblock %}
