:root {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #333;
  padding-bottom: 4em;
}

.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

ul,
ol {
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

pre,
code {
  background-color: #f5f5f5;
}

pre {
  display: block;
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.breadcrumb {
  padding: 0.7em;
  background-color: #f5f5f5;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li.active {
  color: #777;
}

.breadcrumb > li + li::before {
  padding: 0 0.3em;
  color: #ccc;
  content: '/\00a0';
}

.lead {
  font-size: 1.6em;
  font-weight: 200;
}

iframe {
  width: 100%;
  margin: 4em 0;
}

iframe.panel-default {
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
