<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Front-End Library</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/all.css">

    {#- Shortest and fastest shim for ie-old html5 elements, add only the elements you need, or replace this with Modernizr -#}
    <!--[if lt IE 9]><script>'article main footer'.replace(/\w+/g,function(n){document.createElement(n)})</script><![endif]-->

    <script>
        (function(d){
            if (!('querySelector' in d && 'addEventListener' in window)) return;
            d.documentElement.className += ' has-js';
            d.addEventListener('DOMContentLoaded', function() {
                var s = d.createElement('script');
                s.setAttribute('src', '../static/js/vendor/requirejs/require.js');
                s.setAttribute('data-main', '../static/js/main');
                d.body.appendChild(s);
            });
        }(document));
    </script>
</head>
<body>

    {%- block body %}{% endblock -%}

</body>
</html>
